@charset "utf-8";
/*首页头部导航*/
#nav-smartSetup {
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	width: 100%;
	background:#fff;
	padding-right: 41px;
	box-sizing: border-box;
}
.ui-navigator {
    display: -webkit-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-navigator .ui-navigator-list, .ui-navigator .ui-navigator-fix {
    display: -webkit-box;
    -webkit-box-flex: 1;
}

.ui-navigator .ui-navigator-list li{
    -webkit-box-flex: 1;
}

.ui-navigator .ui-navigator-list li a, .ui-navigator .ui-navigator-fix{
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.ui-navigator .ui-navigator-wrapper{
    -webkit-box-flex: 1;
}

.ui-navigator .ui-navigator-list, .ui-navigator .ui-navigator-fix {
    display: -webkit-box;
    -webkit-box-flex: 0;      /*去掉-webkit-box-flex属性，可滑动tab不平分*/
}

.ui-navigator .ui-navigator-list li{
    -webkit-box-flex: 0;
}
#nav-smartSetup li a, .ui-navigator .ui-navigator-fix {
	height: 45px;
	line-height: 45px;
	padding: 0 12px;
	font-size: 15px;
	color: #333;
	display: inline-block;
	text-align: center;
}
#nav-smartSetup li:first-child a {
	padding-left: 12px;
}
#nav-smartSetup li a.cur, .ui-navigator .ui-navigator-fix.cur {
	color: #333;
	font-weight: bold;
}

/*首页顶部*/
.nav-more-box {
	width: 41px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	position: fixed;
	z-index: 12;
	right: 0;
	top: 0;
}
.nav-more-box img {
	width: 16px;
	height: 16px;
	display: block;
	margin-top: 14px;
	margin-left: 10px;
}


/*首页底部*/
.nav-box {
	width: 100%;
	height: 47px;
	background: #fff;
	border-top: 1px solid #efefef;
	position: fixed;
	bottom: 0;
	left: 0;
	
}
.nav-list li {
	width: 20%;
	float: left;
}
.nav-list li a {
	width: 100%;
	height: 43px;
	padding-top: 4px;
	text-align: center;
	display: block;
}
.nav-list li a i {
	width: 22px;
	height: 22px;
	text-align: center;
	display: inline-block;
}
.nav-list li a p {
	font-size: 12px;
	line-height: 12px;
}
.nav-list li a i.icon-home {
	background: url(../images/icon_home_02@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a i.icon-hot {
	background: url(../images/icon_hot_02@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a i.icon-online {
	background: url(../images/icon_online_02@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a i.icon-find {
	background: url(../images/icon_find_02@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a i.icon-mine {
	background: url(../images/icon_mine_02@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a.active p {
	color: #fa1b1b;
}
.nav-list li a.active i.icon-home {
	background: url(../images/icon_home_01@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a.active i.icon-hot {
	background: url(../images/icon_hot_01@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a.active i.icon-online {
	background: url(../images/icon_online_01@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a.active i.icon-find {
	background: url(../images/icon_find_01@2x.png) center center no-repeat;
	background-size: contain;
}
.nav-list li a.active i.icon-mine {
	background: url(../images/icon_mine_01@2x.png) center center no-repeat;
	background-size: contain;
}

/*body*/
.content-view {
	padding: 0 12px;
}

/*other*/
.pt0 {
	padding-top: 0;
}
.pt10 {
	padding-top: 10px;
}
.pt45 {
	padding-top: 45px;
}
.pb0 {
	padding-bottom: 0;
}
.pb48 {
	padding-bottom: 48px;
}