@charset "utf-8";
/*主页*/
.main-tv-box {
	border-radius: 6px;
}
.main-tv-box a {
	width: 100%;
	display: block;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}
.main-tv-box a img {
	width: 100%;
}
.tv-title-box {
	width: 100%;
	padding: 10px 0 6px;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* 标准的语法（必须放在最后） */
	position: absolute;
	bottom: 0;
}
.tv-title-box h3 {
	color: #fff;
	font-size: 13px;
	padding: 0 12px;
}
.tv-title-box p {
	color: #cbcbcb;
	font-size: 12px;
	padding: 0 12px;
}

.search-box {
	position: relative;
	padding: 0 0 10px;
}
.search-box input[type=search] {
	width: 100%;
	display: block;
	font-size: 13px;
	padding: 7px 0;
	color: #999;
	text-indent: 1em;
	background: #fbf9f9;
	border-radius: 0;
}
.history-box {
	height: 31px;
	width: 30px;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
}
.history-box a {
	width: 100%;
	height: 31px;
	display: block;
}
.history-box a img {
	width: 20px;
	height: 20px;
	margin: 2px 0 0 8px;
}

/*热播推荐*/
.hot-tv-list, .hot-tvgb-list {
	padding: 12px 0;
}
.hot-tv-title {
	font-size: 16px;
	font-weight: bold;
}
.hot-tv-box {
	padding-top: 20px;
}
.hot-tv-list li {
	width: 50%;
	float: left;
}
.hot-tv-item-left {
	padding-right: 6px;
}
.hot-tv-item-right {
	padding-left: 6px;
}
.hot-tv-item a {
	border-radius: 4px;
	overflow: hidden;
	display: block;
	position: relative;
}
.hot-tv-item a img {
	width: 100%;
}
.hot-tv-item h3, .hot-tv-item>p {
	width: 100%;
	color: #333;
	font-size: 13px;
	line-height: 13px;
	padding: 10px 0 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot-tv-item>p {
	color: #939393;
	font-size: 12px;
	padding: 0;
}
.hottv-title-box {
	width: 100%;
	color: #fff;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
	text-indent: 1em;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* 标准的语法（必须放在最后） */
	position: absolute;
	bottom: 0;
}
.hottv-title-box p {
	padding-right: 8px;
}

/*新剧跟播*/
.hot-tvgb-list li {
	width: 33.33%;
	float: left;
}
.hot-tv-item-midd {
	padding: 0 3px;
}
.hot-tab-list {
	color: #999;
	margin-top: 12px;
}
.hot-tab-list li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.hot-tab-list li a {
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 20px;
	padding: 0 12px;
	display: block;
}

/*播放详情页面*/
.tv-play-box {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#tv-play-bg {
	min-height: 202px;
}
.tv-play-content {
	padding: 0 12px;
	position: relative;
}
.tv-play-box>img {
	width: 100%;
	height: auto;
	display: block;
}
.tv-play-title {
	padding: 30px 0 10px;
}
.tv-play-title h2 {
	font-size: 19px;
	line-height: 19px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.more-info {
	color: #999;
	height: 19px;
	line-height: 19px;
	display: block;
	font-size: 12px;
}
.more-info>i {
	width: 6px;
	height: 11px;
	display: inline-block;
	float: right;
	margin: 4px 0 0 4px;
	background: url(../images/icon_goto@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-lable-box {
	color: #666;
	font-size: 12px;
}
.tv-lable-box span {
	margin-right: 10px;
}
.tv-share-box {
	height: 23px;
	line-height: 22px;
	padding-top: 10px;
}
.tv-share-box span {
	color: #999;
	font-size: 12px;
}
.tv-comments-box i {
	width: 18px;
	height: 22px;
	float: left;
	display: inline-block;
	margin-right: 4px;
	background: url(../images/icon_py@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item a {
	float: left;
	margin-left: 10px;
	display: inline-block;
}
.tv-share-item i {
	height: 16px;
	display: inline-block;
}
.tv-share-item i.icon-share {
	width: 16px;
	background: url(../images/icon_fx@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item i.icon-collect {
	width: 18px;
	background: url(../images/icon_sc@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item i.icon-upload {
	width: 18px;
	background: url(../images/icon_xz@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-choose-title {
	font-size: 12px;
}
.tv-choose-box {
	padding-top: 20px;
}
.tv-choose-box a {
	color: #999;
	float: right;
}
.tv-choose-box a i {
	width: 6px;
	height: 11px;
	display: inline-block;
	float: right;
	margin: 3px 0 0 4px;
	background: url(../images/icon_goto@2x.png) center center no-repeat;
	background-size: contain;
}
.hot-tv-title02 {
	font-size: 12px;
}
.hot-tv-title02>span {
	width: 4px;
	height: 16px;
	background: #fa1b1b;
	border-radius: 2px;
	margin-right: 4px;
	display: block;
	float: left;
}
.hot-tv-title02>em {
	color: #999;
	float: right;
	font-size: 12px;
}


/*热点*/
.hot-warpper {
	padding: 0 10px 48px;
}
.hot-tv-content {
	margin: 10px 0;
}
.hot-tv-paly-box {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}
.hot-play-img {
	width: 100%;
}
.hot-paly-title {
	position: absolute;
	top: 6px;
	left: 0;
	z-index: 10;
	font-size: 13px;
	color: #fff;
	margin: 0 12px;
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: calc(100% - 24px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tv-time {
	position: absolute;
	bottom: 6px;
	right: 12px;
	z-index: 10;
	font-size: 12px;
	color: #fff;
}
.tv-play-btn {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -24px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
	background: url(../images/icon_play@2x.png) top left no-repeat;
	background-size: 48px 48px;
}
.tv-play-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: 1;
}
.tv-info {
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
}
.tv-info-left {
	display: flex;
	width: 60%;
}
.tv-info-log {
	width: 25px;
	height: 25px;
	overflow: hidden;
	border-radius: 50%;
}
.tv-info-log img {
	width: 100%;
	display: block;
}
.tv-info-author {
	flex: 2;
	margin-left: 10px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tv-info-right a {
	display: block;
	float: left;
	font-size: 12px;
	margin-left: 10px;
}
.tv-info-right a:first-of-type {
	margin-left: 0;
}
.tv-info-right a i {
	display: block;
	margin-right: 4px;
	padding-top: 9px;
	float: left;
}
.icon-love {
	width: 16px;
	height: 17px;
	background: url(../images/icon_love@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-pl {
	width: 17px;
	height: 17px;
	background: url(../images/icon_pl@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-more {
	width: 2px;
	height: 15px;
	background: url(../images/icon_tv_more@2x.png) center center no-repeat;
	background-size: contain;
}


/*我的*/
.user-body {
	background: #eee;
}
.userIndex-warpper {
	margin-bottom: 48px;
}
.user-header {
	background: #fff;
	position: relative;
	height: 86px;
	padding: 0 12px;
}
.user-header-box {
	padding-top: 18px;
	height: 68px;
	border-bottom: 1px solid #eee;
}
.head-img-box {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
	margin-left: 5px;
}
.head-img-box img {
	width: 100%;
	display: block;
}
.user-name-box {
	font-size: 14px;
	line-height: 50px;
	font-weight: 700;
}
.cheack-btn {
	position: absolute;
	right: 17px;
	top: 50%;
	margin-top: -15px;
	width: 65px;
	height: 30px;
	font-size: 13px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: url(../images/icon_cheack_btn@2x.png) center center no-repeat;
	background-size: 65px 30px;
	cursor: pointer;
}
.user-useInfo {
	padding: 0 12px;
	background: #fff;
}
.user-useInfo li {
	width: 50%;
	float: left;
}
.user-useInfo li a {
	display: block;
	padding: 20px 0;
}
.user-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-item dt {
	margin-right: 10px;
}
.user-item dt img {
	width: 29px;
	height: 26px;
}
.user-item dd h4 {
	color: #333;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 4px;
}
.user-item dd p {
	font-size: 12px;
	line-height: 12px;
}
.yellow-color {
	color: #ffb400;
}
.blue-color {
	color: #2378f0;
}
.user-item-line {
	border-right: 1px solid #eee;
}

/*播放*/
.user-other-warpper {
	margin-top: 8px;
	background: #fff;
	padding: 0 12px;
}
.user-app-list {
	margin-bottom: 8px;
}
.user-app-list li a {
	display: block;
	height: 56px;
	color: #333;
	line-height: 56px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
}
.user-app-list li:last-child a {
	border-bottom: 1px solid #fff;
}
.user-app-list li a i {
	display: block;
	float: right;
	width: 6px;
	height: 12px;
	padding-top: 44px;
	background: url(../images/icon_left2@2x.png) center center no-repeat;
	background-size: contain;
}
.user-app-list li a span {
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	padding-top: 42px;
	margin-right: 15px;
}
.icon-history {
	background: url(../images/icon_history_play@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-lxhc {
	background: url(../images/icon_lxhc@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-wdzj {
	background: url(../images/icon_wdzj@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-zbyy {
	background: url(../images/icon_zbyy@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-scjl {
	background: url(../images/icon_scjl@2x.png) center center no-repeat;
	background-size: contain;
}
/**/
.icon-fxkhd {
	background: url(../images/icon_fxkhd@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-yjfk {
	background: url(../images/icon_yjfk@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-cjwt {
	background: url(../images/icon_cjwt@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-gywm {
	background: url(../images/icon_gywm@2x.png) center center no-repeat;
	background-size: contain;
}
.icon-setting {
	background: url(../images/icon_setting@2x.png) center center no-repeat;
	background-size: contain;
}

