@charset "utf-8";
/*主页*/
.main-tv-box {
	border-radius: 6px;
}
.main-tv-box a {
	width: 100%;
	display: block;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}
.main-tv-box a img {
	width: 100%;
}
.tv-title-box {
	width: 100%;
	padding: 10px 0 6px;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.7)); /* 标准的语法（必须放在最后） */
	position: absolute;
	bottom: 0;
}
.tv-title-box h3 {
	color: #fff;
	font-size: 13px;
	padding: 0 12px;
}
.tv-title-box p {
	color: #cbcbcb;
	font-size: 12px;
	padding: 0 12px;
}

.search-box {
	position: relative;
	padding: 0 0 10px;
}
.search-box input[type=search] {
	width: 100%;
	display: block;
	font-size: 13px;
	padding: 7px 0;
	color: #999;
	text-indent: 1em;
	background: #fbf9f9;
	border-radius: 0;
}
.history-box {
	height: 31px;
	width: 30px;
	background: #fff;
	position: absolute;
	right: 0;
	top: 0;
}
.history-box a {
	width: 100%;
	height: 31px;
	display: block;
}
.history-box a img {
	width: 20px;
	height: 20px;
	margin: 2px 0 0 8px;
}

/*热播推荐*/
.hot-tv-list, .hot-tvgb-list {
	padding: 12px 0;
}
.hot-tv-title {
	font-size: 16px;
	font-weight: bold;
}
.hot-tv-box {
	padding-top: 20px;
}
.hot-tv-list li {
	width: 50%;
	float: left;
}
.hot-tv-item-left {
	padding-right: 6px;
}
.hot-tv-item-right {
	padding-left: 6px;
}
.hot-tv-item a {
	border-radius: 4px;
	overflow: hidden;
	display: block;
	position: relative;
}
.hot-tv-item a img {
	width: 100%;
}
.hot-tv-item h3, .hot-tv-item>p {
	width: 100%;
	color: #333;
	font-size: 13px;
	line-height: 13px;
	padding: 10px 0 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot-tv-item>p {
	color: #939393;
	font-size: 12px;
	padding: 0;
}
.hottv-title-box {
	width: 100%;
	color: #fff;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: right;
	text-indent: 1em;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5)); /* 标准的语法（必须放在最后） */
	position: absolute;
	bottom: 0;
}
.hottv-title-box p {
	padding-right: 8px;
}

/*新剧跟播*/
.hot-tvgb-list li {
	width: 33.33%;
	float: left;
}
.hot-tv-item-midd {
	padding: 0 3px;
}
.hot-tab-list {
	color: #999;
	margin-top: 12px;
}
.hot-tab-list li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.hot-tab-list li a {
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 20px;
	padding: 0 12px;
	display: block;
}

/*播放详情页面*/
.tv-play-box {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#tv-play-bg {
	min-height: 202px;
}
.tv-play-content {
	padding: 0 12px;
	position: relative;
}
.tv-play-box>img {
	width: 100%;
	height: auto;
	display: block;
}
.tv-play-title {
	padding: 30px 0 10px;
}
.tv-play-title h2 {
	font-size: 19px;
	line-height: 19px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.more-info {
	color: #999;
	height: 19px;
	line-height: 19px;
	display: block;
	font-size: 12px;
}
.more-info>i {
	width: 6px;
	height: 11px;
	display: inline-block;
	float: right;
	margin: 4px 0 0 4px;
	background: url(../images/icon_goto@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-lable-box {
	color: #666;
	font-size: 12px;
}
.tv-lable-box span {
	margin-right: 10px;
}
.tv-share-box {
	height: 23px;
	line-height: 22px;
	padding-top: 10px;
}
.tv-share-box span {
	color: #999;
	font-size: 12px;
}
.tv-comments-box i {
	width: 18px;
	height: 22px;
	float: left;
	display: inline-block;
	margin-right: 4px;
	background: url(../images/icon_py@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item a {
	float: left;
	margin-left: 10px;
	display: inline-block;
}
.tv-share-item i {
	height: 16px;
	display: inline-block;
}
.tv-share-item i.icon-share {
	width: 16px;
	background: url(../images/icon_fx@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item i.icon-collect {
	width: 18px;
	background: url(../images/icon_sc@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-share-item i.icon-upload {
	width: 18px;
	background: url(../images/icon_xz@2x.png) center center no-repeat;
	background-size: contain;
}
.tv-choose-title {
	font-size: 12px;
}
.tv-choose-box {
	padding-top: 20px;
}
.tv-choose-box a {
	color: #999;
	float: right;
}
.tv-choose-box a i {
	width: 6px;
	height: 11px;
	display: inline-block;
	float: right;
	margin: 3px 0 0 4px;
	background: url(../images/icon_goto@2x.png) center center no-repeat;
	background-size: contain;
}
.hot-tv-title02 {
	font-size: 12px;
}
.hot-tv-title02>span {
	width: 4px;
	height: 16px;
	background: #fa1b1b;
	display: block;
	float: left;
}
